<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" href="/public/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <section id="heroes" class="bg-dark p-5">
        <div class="container">
            <div class="d-flex justify-content-between mb-5">
                <div>
                    <h2 class="text-center text-white"><span class="text-danger">7</span>DW</h2>
                </div>
                <div>
                    <a href="#" class="btn btn-danger">Add Hero</a>
                    <a href="#" class="btn btn-danger">Add Type</a>
                </div>
            </div>
            <div class="row g-4 justify-content-center">
                <div class="col-md-6 col-lg-3">
                    <div class="card bg-light">
                        <div class="card-body text-center bg-secondary">
                            <img class="mb-3 img-fluid"
                                src="https://cdn.kincir.com/2/wDVo-hV7LbCCf4BDzpy6muMfCC6zoCjpuzNtzVd1EGI/transform/rs:fill:764:400/src/production/2020-04/1af8b6997d4e6bd541173eddb613607d.jpg"
                                alt="">
                            <h3 class="card-title mb-3">Name Hero</h3>
                            <p class="card-text">Type Hero</p>
                        </div>
                    </div>
                    <div class="my-2 text-center">
                        <a href="#" class="btn btn-danger px-5">Detail</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>